In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

#Label Encoading

In [3]:
data = {
    'color' : ['red','green','blue','green','red','blue','yellow','blue','red','red']
}

In [4]:
#applying label encoading
le = LabelEncoder()
df = pd.DataFrame(data)
df['color_encoded'] = le.fit_transform(df['color'])

print("After label encoading")
print(df)

After label encoading
    color  color_encoded
0     red              2
1   green              1
2    blue              0
3   green              1
4     red              2
5    blue              0
6  yellow              3
7    blue              0
8     red              2
9     red              2

# One-Hot Encoading or Dummy Encoading
converts categories into multiple binary(0/1) columns

In [5]:
#apply one-hot Encoading
df_encoded = pd.get_dummies(df, columns=['color'],dtype=int)
print("After one-hot Encoading")
print(df_encoded)

After one-hot Encoading
   color_encoded  color_blue  color_green  color_red  color_yellow
0              2           0            0          1             0
1              1           0            1          0             0
2              0           1            0          0             0
3              1           0            1          0             0
4              2           0            0          1             0
5              0           1            0          0             0
6              3           0            0          0             1
7              0           1            0          0             0
8              2           0            0          1             0
9              2           0            0          1             0

# applying both encoading on ecommers Dataset

In [6]:
df = pd.read_csv('ecommerce_customers_unit1.csv')
df.head()

,customer_id,age,gender,country,signup_date,last_purchase_date,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,device_type,preferred_category,churned
0,10001,56.0,Male,India,2022-01-27,2024-04-27,10,13273.25,1327.32,522,0,NaN,Home,0
1,10002,69.0,Other,UK,2025-01-12,2025-08-01,10,NaN,308.90,61,0,Mobile,Grocery,0
2,10003,46.0,Female,USA,2021-04-25,2021-06-01,5,3411.83,682.37,1583,0,NaN,NaN,0
3,10004,32.0,Male,India,2021-02-23,2023-09-22,5,4502.00,900.40,740,0,NaN,NaN,0
4,10005,60.0,Female,India,2021-06-07,2021-12-11,7,3842.10,548.87,1390,0,Tablet,Books,0

In [7]:
#select categorical columns
cat_cols = df.select_dtypes(include=['object']).columns
print('Categorical columns')
print(cat_cols.to_list())

Categorical columns
['gender', 'country', 'signup_date', 'last_purchase_date', 'device_type', 'preferred_category']

In [8]:
le = LabelEncoder()
df['country_encoaded'] = le.fit_transform(df['country'])
print("After Label Encoading")
print(df[['country','country_encoaded']].head())

After Label Encoading
  country  country_encoaded
0   India                 3
1      UK                 4
2     USA                 5
3   India                 3
4   India                 3

In [9]:
df_encoded = pd.get_dummies(df,columns=['gender'],dtype=bool)
# df_encoded = pd.get_dummies(df,columns=['gender'])
print("after one-hot Encoading on gender")
# print(df_encoded)
print(df_encoded[['gender_Other','gender_Female','gender_Male']])

df_encod = pd.get_dummies(df,columns=['preferred_category'],dtype=bool)
# print(df_encod)
df_result = df_encod.select_dtypes(include=['bool']).columns
print(df_result.to_list)
print(df_encod[df_result])

after one-hot Encoading on gender
     gender_Other  gender_Female  gender_Male
0           False          False         True
1            True          False        False
2           False           True        False
3           False          False         True
4           False           True        False
..            ...            ...          ...
600         False           True        False
601         False          False         True
602         False          False         True
603         False           True        False
604         False           True        False

[605 rows x 3 columns]
<bound method IndexOpsMixin.tolist of Index(['preferred_category_Books', 'preferred_category_Electronics',
       'preferred_category_Fashion', 'preferred_category_Grocery',
       'preferred_category_Home', 'preferred_category_Sports'],
      dtype='object')>
     preferred_category_Books  preferred_category_Electronics  \
0                       False                           False
1                       False                           False
2                       False                           False
3                       False                           False
4                        True                           False
..                        ...                             ...
600                     False                            True
601                     False                            True
602                     False                            True
603                     False                           False
604                     False                           False

     preferred_category_Fashion  preferred_category_Grocery  \
0                         False                       False
1                         False                        True
2                         False                       False
3                         False                       False
4                         False                       False
..                          ...                         ...
600                       False                       False
601                       False                       False
602                       False                       False
603                       False                       False
604                        True                       False

     preferred_category_Home  preferred_category_Sports
0                       True                      False
1                      False                      False
2                      False                      False
3                      False                      False
4                      False                      False
..                       ...                        ...
600                    False                      False
601                    False                      False
602                    False                      False
603                     True                      False
604                    False                      False

[605 rows x 6 columns]