In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
data = {'Age' : [18,22,25,32,33,36,38,41,45,47,48,50,52,60],
  'income' : [18000,20000,23000,30000,35000,36000,43000,54000,60000,63000,75000,100000,150000,200000]
}
df = pd.DataFrame(data)
print(df)

    Age  income
0    18   18000
1    22   20000
2    25   23000
3    32   30000
4    33   35000
5    36   36000
6    38   43000
7    41   54000
8    45   60000
9    47   63000
10   48   75000
11   50  100000
12   52  150000
13   60  200000

#Min max Scaling

## Normalization

In [3]:
#Normalization (0-1 range)
norm = MinMaxScaler()
# df_norm = pd.DataFrame(norm.fit_transform(df), columns=df.columns)
df_norm = pd.DataFrame(norm.fit_transform(df[['Age']]), columns=df[['Age']].columns)
print(df_norm)

         Age
0   0.000000
1   0.095238
2   0.166667
3   0.333333
4   0.357143
5   0.428571
6   0.476190
7   0.547619
8   0.642857
9   0.690476
10  0.714286
11  0.761905
12  0.809524
13  1.000000

# Z-Score

## Standartization

In [4]:
#standardization (mean=0,std=1)
std = StandardScaler()
df_std = pd.DataFrame(std.fit_transform(df),columns=df.columns)
df_std = pd.DataFrame(std.fit_transform(df[['Age']]),columns=df[['Age']].columns)
print("Standardization values")
print(df_std)

Standardization values
         Age
0  -1.791436
1  -1.451366
2  -1.196315
3  -0.601194
4  -0.516176
5  -0.261125
6  -0.091090
7   0.163962
8   0.504031
9   0.674066
10  0.759083
11  0.929117
12  1.099152
13  1.779290

# example

In [5]:
df = pd.read_csv('ecommerce_customers_unit1.csv')

In [6]:
df.head()

,customer_id,age,gender,country,signup_date,last_purchase_date,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,device_type,preferred_category,churned
0,10001,56.0,Male,India,2022-01-27,2024-04-27,10,13273.25,1327.32,522,0,NaN,Home,0
1,10002,69.0,Other,UK,2025-01-12,2025-08-01,10,NaN,308.90,61,0,Mobile,Grocery,0
2,10003,46.0,Female,USA,2021-04-25,2021-06-01,5,3411.83,682.37,1583,0,NaN,NaN,0
3,10004,32.0,Male,India,2021-02-23,2023-09-22,5,4502.00,900.40,740,0,NaN,NaN,0
4,10005,60.0,Female,India,2021-06-07,2021-12-11,7,3842.10,548.87,1390,0,Tablet,Books,0

In [7]:
#standardization
std = StandardScaler()
df_std = pd.DataFrame(std.fit_transform(df[['age']]),columns=df[['age']].columns)
#normalization
norm = MinMaxScaler()
df_norm = pd.DataFrame(norm.fit_transform(df[['age']]),columns=df[['age']].columns)

print("Normalization values")
print(df_norm)

print("Standardization values")
print(df_std)

Normalization values
          age
0    0.745098
1    1.000000
2    0.549020
3    0.274510
4    0.823529
..        ...
600  0.137255
601  0.627451
602  0.549020
603  0.274510
604  0.509804

[605 rows x 1 columns]
Standardization values
          age
0    0.790133
1    1.658781
2    0.121942
3   -0.813525
4    1.057409
..        ...
600 -1.281259
601  0.389218
602  0.121942
603 -0.813525
604 -0.011696

[605 rows x 1 columns]